// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700')

// Set your brand colors
$primary-green: #00b900

// Update Bulma's global variables
$family-sans-serif: 'Montserrat', sans-serif
$primary: $primary-green
$link: $primary-green
$widescreen-enabled: false
$fullhd-enabled: false

// Update some of Bulma's component variables
$control-border-width: 2px
$input-border-color: transparent
$input-shadow: none

// font
$title-weight: 700

$size-1: 68px;
$size-2: 46px;
$size-3: 32px;
$size-4: 24px;
$size-5: 16px;
$size-6: 14px;
$size-7: 10px;

$gap: 15px
$column-gap: $gap
$desktop: 1170px

// Import only what you need from Bulma
@import "~bulma/sass/utilities/_all.sass"
@import "~bulma/sass/base/_all.sass"
@import "~bulma/sass/elements/button.sass"
@import "~bulma/sass/elements/container.sass"
@import "~bulma/sass/elements/form.sass"
@import "~bulma/sass/elements/title.sass"
@import "~bulma/sass/components/card.sass"
@import "~bulma/sass/layout/hero.sass"
@import "~bulma/sass/grid/_all.sass"


@import "./_helper.sass"

body
  background-color: #ecf0f1